.logo{
    width: 50px;
    height: 50px;
}

.reset-navlink{
    text-decoration: none !important;
    color: inherit !important;
}

.active{
    text-decoration: underline !important;
}

.ms-auto{
    gap: 20px;
}
